.strbs-btn {
  display: inline-block;
  text-align: center;


}

.strbs-btn-primary {
  color: #fff;
  background-color:#3A8F3D ;
  border-color: #3A8F3D;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 100%;
  padding: 1rem 6rem;

}