.strbs-btn {
  display: inline-block;
  text-align: center;
}

.strbs-btn-primary {
  color: #fff;
  background-color:#3A8F3D ;
  border-color: #3A8F3D;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 100%;
  padding: 1rem 6rem;

}

.strbs-navbar-btn {
  color:$color-grey-300;
  text-decoration: none;
  padding: .7rem 1rem;
  border: 1px solid $color-green-500;
  border-radius: 20px;
}

.strbs-navbar-btn-register {
  color:$color-white-200;
  text-decoration: none;
  padding: .7rem 1rem;
  background-color: $color-green-500;
  border-radius: 20px;
}