////Sitorbis Article /////

.strbs-article {
  margin-bottom: 100px;
  overflow: hidden;

  &__title {
    font-size: 1em;
    text-align: center;
    padding: 1rem 0;
  }

  &__category {
    text-align: center;
    padding: 0 0 1rem 0;

    a {
      color: $color-grey-300;
      font-size: .8em;
    }

    a:hover {
      text-decoration: none;
      color: $color-grey-300;
    }
  }

  &__post-content {
    text-align: center;
    padding: 0 0 1rem 0;

    a {
      color: $color-grey-300;
      font-family: $font-family-lora;
      text-decoration: none;
      font-size: 1em;
      line-height: 1.7;
    }
  }

  &__author-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-top: 1px solid $color-white-500;
    border-bottom: 1px solid $color-white-500;
    padding: 1rem 0;
  }

  &__author-link {
    color: $color-grey-300;
    font-size: .8em;

    &:hover {
      text-decoration: none;
    }
  }

  &__readmore {
    font-size: .8em;
    color: $color-grey-300;
    font-weight: 600;
    &:hover{
      text-decoration: none;
    }
  }

  &__date {
    color: $color-grey-300;
    font-size: .8em;
    &:hover {
      text-decoration: none;
    }
  }

  @media (min-width: 768px) {
    font-size: 1.5em;

    &__category {
      a {
        font-size: .6em;
      }
    }

    &__post-content {
      a {
        font-size: .8em;
      }
    }

    &__author-date {
      display: flex;
    }
    &__author-link {
      font-size: .6em;
    }

    &__readmore {
      font-size: .8em;
      color: $color-grey-300;
    }
    &__date {
      font-size: .6em;
    }

  }
}

.post-image{
  width: 100% !important;
  height: auto !important;
}

.strbs-owl-cards {
  display: flex;
  flex-direction: column;

  text-align: center;
  border: 1px solid $color-white-500;

  &__image {
    width: 100%;
    height: 370px;
    background-size: cover;
    background-position: top 10% right 40%;
  }

  &__category {
    font-size: 10px;
    margin: 0 !important;
    color: $color-grey-300;
    text-decoration: none;
    padding: 1rem;
    text-transform: uppercase;
  }

  &__title {
    font-size: 14px;
    font-weight: 300;
    padding: 0 1.5rem;

    a {
      color: $color-grey-300;
      text-decoration: none;
    }
  }

  &__user-detail {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }

  &__user-name {
    font-size: 10px;
    text-decoration: none;
    color: $color-grey-300;
  }

  &__last-date {
    font-size: 10px;
    text-decoration: none;
    color: $color-grey-300;
  }
}

.owl-prev {
  position: absolute;
  width: 47px;
  height: 34px;
  top: 200px;
  background-color: $color-white-200 !important;

}

.owl-next {
  position: absolute;
  width: 47px;
  height: 34px;
  top: 200px;
  background-color: $color-white-200 !important;
  right: 0;
}

.strbs-card {
  width: 100%;
  @media (min-width: 1440px) {


  }
}


.strbs-card-content {
  flex-direction: column;
  @media (min-width: 1440px) {
    flex-direction: row;

  }
}


.strbs-card-article {
  margin-bottom: 50px;

  &__image {
    width: 100%;
    background-size: cover;
    height: 447px;
    overflow: hidden;
    background-position: 10% 60%;
    background-repeat: no-repeat;
  }

  &__title {
    text-align: center;
    font-size: 22px;
    font-weight: 300;

  }

  &__description {
    text-align: center;
    font-family: $font-family-lora;

    a {
      color: $color-grey-300;
      text-decoration: none;
      font-size: 16px;
    }
  }

  &__detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $color-white-500;
    border-top: 1px solid $color-white-500;
    padding: 15px 0;
  }

  @media (min-width: 1440px) {


  }
}

aside {
  width: 100%;
  @media (min-width: 1440px) {
    width: 25%;
    margin-left: 15px;

  }
}