footer {

}

.strbs-footer {

  &__heading {
    position: relative;
    text-align: center;
    margin: 40px 0;
  }

  &__before {
    content: '';
    height: 1px;
    width: 100%;
    background-color: $color-white-500;
    top: 15px;
    position: absolute;
    left: 0;
  }

  &__widget {
    display: inline-block;
    width: auto;
    margin: 0 0 3px;
    z-index: 90;
    background-color: #fff;
    padding: 0 12px;
    position: relative;
    font-weight: 400;
    letter-spacing: .3em;
    font-size: 0.8em;
    text-transform: uppercase;
  }
}

.strbs-footer-about {
  margin-top: 40px;
  padding: 0 25px;
}

.strbs-footer-follow {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 25px;

  &__link {
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
  }

  &__icon {
    text-align: center;
    color: $color-grey-300;
    font-size: 2em;
  }

  &__context {
    color: $color-grey-200;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .3em;
  }
}

.strbs-footer-newsletter {
  margin-top: 40px;
  padding: 0 25px;

  &__form {
    border-radius: 0 !important;

    &::placeholder {
      font-size: 12px;
      font-family: $font-family-lora;
      text-align: center;
    }
  }
}

.strbs-footer-bottom {
  background-color: #f7f2ee;
  margin-top: 50px;
  padding: 20px 0;

  &__reserved {
    font-family: $font-family-lora;
    font-weight: 300;
    letter-spacing: 1px;
    color: $color-grey-200;
    text-align: center;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;

    list-style: none;
  }

  &__item {
    padding: 0 20px;
  }

  &__link {
    text-transform: uppercase;
    font-size: .5em;
    color: $color-grey-200;

    &:hover {
      text-decoration: none;
      color: $color-grey-300;
    }
  }
  @media (min-width:1024px){
    &__reserved {
      text-align: left;
    }
    &__menu {
      justify-content: flex-end;
    }
    &__link {
      font-size: .8em;
    }
  }
}