.navbar {
  width: 100%;
  background-color: $color-white-500;
  height: 60px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.18);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.18);
}

.nav-link {
  text-transform: uppercase;
}

.navbar-collapse {
  z-index: 999;
  background-color: $color-white-500;
}


.dropdown-menu {
  width: 250px;
  right: 0;
  top:3.1rem;
  left: auto;
  font-size: 14px;
  border-radius: 20px;
  border: none;
  -webkit-box-shadow: 0px 12px 9px -1px rgba(48,48,48,0.31);
  -moz-box-shadow: 0px 12px 9px -1px rgba(48,48,48,0.31);
  box-shadow: 0px 12px 9px -1px rgba(48,48,48,0.31);

  &__title {
    padding: 20px 20px 5px 20px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid $color-white-500;

  }
  .dropdown-item {
    display: flex;
    font-size: 14px;
    text-transform: capitalize;
    font-color:$color-grey-300;
    padding: 0.7rem 1.5rem;
    &__icon {
      font-size: 1.7em;
      margin-right: 10px;
    }
  }
}

.strbs-navbar-logo{
  flex: 0 0 5%;
  &__images {
    width: 34px;
  }
}

.strbs-toggle {
  background-color: $color-white-500;
  border: none;
  order: 1;
  &__icon {
    width: 40px;
    height: 40px;
  }
  @media (min-width: 1440px) {
    display: none;
  }
}

.strbs-navbar-nav{
  list-style-type: none;
  display: none;
  position: absolute;
  left: 0;
  top: 8%;
  background-color: $color-white-500;
  width: 100%;
  z-index: 99;

  &__item {
    padding: 20px 10px;
  }

  &__link {
    color: $color-grey-300;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
  }
  
  @media (min-width: 1440px) {
    width: auto;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    position: relative;
    background: none;
    &__link{
      font-size: 14px;
    }
    &__item {
      display: block;
  }
    
  }
}

.active{
  display: block;
}

.strbs-navbar-search {
  display: none;
  @media (min-width: 1440px) {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__input {
      background-color: $color-white-200;
      border: none;
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      width: 90%;
      border-radius: 50px;
      padding: .7rem 2rem;
      transition: all .2s;
      margin-right: -3.2rem;
      &:focus{
        width: 100%;
        outline: none;
      }

      &::-webkit-input-placeholder{
        font-size: 14px;
      }

    }

    &__button {
      border:none;
      background-color: $color-white-200;


      &:focus{
        outline: none;
      }

      &:active {
        transform: translateY(2px);
      }

    }

    &__icon{
      width: 26px;
      height: 26px;
    }

  }
}

.strbs-navbar-user {
    & > * {
       padding: 0 0.2rem;
     }
    &__icon{
       width: 34px;
       height: 31px;
     }

     &__profile{
       display: flex;
       align-items: center;
     }

     &__profile-img {
       width: 38px;
     }

     &__profile-name{
       margin-left: .7rem;
       margin-right: .7rem;
       font-size: 10px;
       a{
         text-decoration: none;
         color: $color-grey-300;
       }

     }

   @media (min-width: 1440px) {
     display: block;
     & > * {
       padding: 0 1.1rem;
     }
     &__icon-box {

     }

     &__icon{
       width: 34px;
       height: 31px;
     }

     &__profile{
       display: flex;
       align-items: center;
     }

     &__profile-img {
       width: 38px;
       height: 38px;
       border-radius: 100%;
       background-size: cover;
     }

     &__profile-name{
       margin-left: .7rem;
       margin-right: .7rem;
       font-size: 14px;
       a{
         text-decoration: none;
         color: $color-grey-300;
       }

     }
  }
}

.navbar-login {
  display: none;
  @media (min-width: 1440px) {
    display: block;

  }
}




/*.strbs-navbar-user {
    & > * {
       padding: 0 0.2rem;
     }
    &__icon{
       width: 34px;
       height: 31px;
     }

     &__profile{
       display: flex;
       align-items: center;
     }

     &__profile-img {
       width: 38px;
       width: 38px;
       height: 38px;
       border-radius: 100%;
       background-size: cover;
     }

     &__profile-name{
       margin-left: .7rem;
       margin-right: .7rem;
       font-size: 10px;
       a{
         text-decoration: none;
         color: $color-grey-300;
       }

     }

   @media (min-width: 1440px) {
     display: block;
     & > * {
       padding: 0 1.1rem;
     }
     &__icon-box {

     }

     &__icon{
       width: 34px;
       height: 31px;
     }

     &__profile{
       display: flex;
       align-items: center;
     }

     &__profile-img {
       width: 38px;
       height: 38px;
       border-radius: 100%;
       background-size: cover;
     }

     &__profile-name{
       margin-left: .7rem;
       margin-right: .7rem;
       font-size: 14px;
       a{
         text-decoration: none;
         color: $color-grey-300;
       }

     }
  }
}*/

/*.navbar-profile {
  list-style-type: none;
  position: relative;

  &__item a {
    display: block;
  }
  &__item > ul{
    display: none;
    position: absolute;
    transition: 0.5s;
    transform: translateY(40px);
    top: 3rem;
    right: 2rem;
    min-width: 300px;
    background-color: $color-white-500;
    border-radius: 20px;
    padding: 20px 20px;
    list-style-type: none;

  }


  &__item:hover > ul {
    display: block;
    transform: translateY(0px);
  }
  &__item > ul > li  {
    padding: 20px;
  }

}*/
