# Django #
*.log
*.pot
*.pyc
*.cfg
*.json
__pycache__
db.sqlite3
media/*
bin/*
lib/*
static/*
.idea/*
sitorbis/wsgi
accounts/migrations/*
news/migrations/*
blog/migrations/*
pages/migrations/*
todo/migrations/*
node_modules/*
.env
