# Django #
*.log
*.pot
*.pyc
*.cfg
__pycache__
db.sqlite3
media/*
bin/*
lib/*
static/*
.idea/*
sitorbis/wsgi
accounts/migrations/*
news/migrations/*
accounts/migrations/*
blog/migrations/*
page/migrations/*