{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block wrapper %}

    <div class="container">
        <div class="row display-flex strbs-accounts-row no-gutters">
            <div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12 justify-content-end">
                <div class="strbs-accounts-wrapper justify-content-end">
                    <div class="strbs-accounts-menu">
                        <div class="strbs-accounts-menu__register">
                            <a href="{% url 'accounts:loginpage' %}">
                                <svg class="strbs-accounts-menu__icon">
                                    <image xlink:href="{% static 'images/icons/logins.svg' %}"></image>
                                </svg>
                            </a>

                        </div>
                        <div class="strbs-accounts-menu__login">
                            <a href="{% url 'accounts:signup' %}">
                                <svg class="strbs-accounts-menu__icon">
                                    <image xlink:href="{% static 'images/icons/login-1.svg' %}"></image>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="strbs-accounts-form">
                        <div class="strbs-accounts-form__title">Forgot my Password</div>
                        <form method="post" class="strbs-accounts-form__content">
                            <div class="row">
                                <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ form|crispy }}

                                    </div>

                                </div>
                            </div>

                            <button type="submit" class="strbs-btn strbs-btn-primary">Send me Instructions!</button>

                            <div class="strbs-accounts-form__or"></div>
                            <p class="strbs-accounts-form__or-register">
                                Don’t you have an account? <a href="{% url 'accounts:signup' %}">Register Now!</a> it’s
                                really simple and you can start enjoing all the benefits!
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col col-xl-4 strbs-accounts-slider">
                <img src="{% static 'images/IMG-0877.JPG' %}" alt="">
            </div>

        </div>
    </div>

{% endblock %}