//// Color /////
$color-grey-dark: #303030;
$color-grey-dark-2:#414141;
$color-grey-light:#B1B1B1;
$color-green:#3A8F3D;
$color-yellow:#F1AF27;
$color-white:#fff;

//// Fonts /////
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500&display=swap&subset=latin-ext');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

#wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: $color-grey-dark;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: border-box;
    color: $color-white;
}

.btn {
    border: none;
    padding: 10px;
    text-align: center;
    margin: 15px 0 15px 20px;
    text-transform: uppercase;

}

.btn-transperant {
    background-color: $color-grey-dark;
    width: 40%;
    border-radius: 10px;
    border: 1px solid $color-grey-light;
    color: $color-white;
    font-size: 18px;
}

.mrgn-top30{
    margin-top:30px;
}

.mrgn-top50{
    margin-top:50px;
}

.mrgn-top150{
    margin-top:150px;
}
.mrgn-top180{
    margin-top:180px;
}

///// İcon Sitorbis /////
