.strbs-container {
  width: 95%;
  margin: 0 auto;

  @media (min-width: 1200px) {
    width: 1170px;
  }

  @media (min-width: 1290px) {
    width: 1300px;
  }
}

.strbs-container-full {
  width: 95%;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding: 1em;
  overflow: hidden;

  &__text-box {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }

  h2 {
    padding: 10px 20px;
  }

  p {
    padding: 0 20px;
  }

  &__line {
    width: 65px;
    height: 1px;
    background-color: $color-grey-light;
    margin: 0px 20px 20px 22px;
  }
  &__italic {
    padding: 10px 20px;
    font-style: italic;
    font-size: 16px;
  }

  @media (min-width: 1200px) {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    &__text-box {
      width: 43.3%;
    }
    &__headline {
      display: flex;
      flex-direction: row;

      position: relative;
      clip: rect(5px, 200px, 20px, 5px);
      overflow: hidden;
    }
    &__slider {
      width: 688px;
      height: 688px;
      background: url(../images/sliderbg1.jpg) no-repeat;
      background-size: contain;
      border-radius: 50px;
      transform: rotate(50deg);
      position: absolute;
      overflow: hidden;
      right: -85px;
      top: -210px;
      border: 10px solid $color-green;
    }
    h2 {
      font-family: "Oswald", sans-serif;
      font-size: 32px;
    }
    p {
      font-size: 24px;
    }
  }
}

.strbs-category {
  background-color: $color-yellow;
  position: relative;

  &__title {
    display: none;
  }
  &__title2 {
    display: none;
  }
  @media (min-width: 1200px) {
    &__title {
      display: block;
      width: 465px;
      height: 470px;
      background-color: rgba(112, 112, 112, 0.3);
      transform: rotate(45deg);
      border-radius: 50px;
      position: absolute;
      top: 40px;
      right: 200px;
    }
    &__title2 {
      display: block;
      width: 465px;
      height: 470px;
      background-color: $color-grey-dark-2;
      transform: rotate(45deg);
      border-radius: 50px;
      position: absolute;
      top: 40px;
      right: 100px;

      h1 {
        position: relative;
        top: 150px;
        left: 150px;
        width: 20%;
        font-size: 42px;
        font-family: "Oswald", sans-serif;
      }
    }
    .btn-transperant {
      width: 80% !important;
      font-size: 14px;
    }
  }
}

.strbs-owl {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  &__carousel {
    width: 63.3% !important;
  }
}

.item {
  &__strbs-carousel {
    background-color: $color-grey-dark;
    border-radius: 10px;
    margin-bottom: 50px;
    width: 255px;
  }
  &__strbs-carousel-image {
    width: 85%;
    margin: 0 auto;
    position: relative;
    top: -20px;
  }
  &__strbs-carousel-title {
    text-transform: uppercase;
    padding: 10px 0px 10px 25px;
  }

  &__strbs-carousel-content {
    padding: 0px 25px 10px 25px;
  }
  &__strbs-carousel-button {
    width: 80%;
    margin: 0 auto;
  }
}

.strbs-login {
  &__tag {
    display: none;
  }
  &__image {
    width: 100%;
  }
  &__title {
    padding: 20px;
    font-size: 18px;
  }
  &__context {
    padding: 0px 20px;
    font-size: 14px;
    font-style: italic;
  }
  @media (min-width: 1280px) {
    display: flex;
    flex-direction: row;
    background: url(../images/login-bg.png) no-repeat;
    background-attachment: fixed;

    &__tag {
      display: block;
      width: 33.3%;
    }
    &__tagbg {
      background: url(../images/tagbg2.png);
      border-radius: 50px;
      width: 453px;
      height: 457px;
    }
    &__tagbg-title {
      position: relative;
      left: 200px;
      top: 200px;
      font-size: 24px;
    }
    &__image {
      width: 51%;
      margin-left: -40px;
      z-index: -999;
    }
    &__content {
      width: 25%;
    }

    &__context {
      font-size: 18px;
    }
  }
  @media (min-width: 1800px) {
    background-position: 20%;
  }
}

.strbs-message {
  background-image: url(../images/message-bg.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  &__image {
    width: 100%;
  }
  &__title {
    padding: 20px;
    font-size: 18px;
  }

  &__context {
    padding: 0 20px;
    font-size: 14px;
  }
  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 600px;

    &__content {
      width: 41.6%;
    }
    &__image {
      order: 2;
      position: absolute;
      top: 0;
      right: -310px;
      width: 66.6%;
    }
    &__title {
      font-size: 24px;
    }
    &__context {
      font-size: 18px;
      font-style: italic;
    }
  }
}

.strbs-contact {
  @media (min-width: 1200px) {
    background: url(../images/message-bg.png) no-repeat;
    background-position: 25% 136.3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
    &__tag {
      width: 33.3%;
    }
    &__tagbg {
      background: url(../images/contact-bg.png);
      border-radius: 50px;
      width: 453px;
      height: 457px;
    }
    &__tagbg-title {
      position: relative;
      left: 200px;
      top: 220px;
      font-size: 24px;
    }

    &__content {
      width: 50.6%;
    }
    &__contactus {
      background-color: $color-grey-dark-2;
      border-radius: 10px;
      padding: 30px;

    }

    &__info  {
      margin-top:25px;
      a {
        color: $color-white;
        font-size: 16px;
        text-decoration: none;
        font-weight: 400;
        margin-right: 100px;
        font-weight: 300;
        
        i {
          font-size: 30px;
          margin-right: 20px;
          
        }
      }
    }

    &__address {
      margin-top:50px;
      display: flex;
      flex-direction: row;
      a{
        color: $color-white;
        font-size: 16px;
        text-decoration: none;
        font-weight: 300;
      }
      i{
      
        font-size: 34px;
        margin-right: 20px;
        height: 100%;
      }
    }

    &__bg {
      width: 395px;
      height: 368px;
      background: url(../images/contactbg.png);
      position: relative;
      left: 200px;

    }
  }
  @media(min-width:1800px) {
    background-position: 25% 136.3%; 
  }
}

.strbs-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
  
  &__info {
    width: 23.3%;
  }
  &__logo {
    width: 10.6%;
    align-self: center;
    img{
      width: 100px;
    }
  }
  &__social{
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      li {
        border-radius: 100%;
        background-color: $color-grey-dark-2;
        width: 30px;
        height: 30px;
        margin-right: 20px;
        a {
          font-size: 16px;
          color: #BADEFD;
          i{
            padding: 7px;
          }
        }
      }
    }
  }
  &__headline {
    font-size: 16px;
    padding: 20px 0px;

    h3 {
      font-style: italic;
      padding: 10px 0;
      font-size: 14px;
    }

  }
  &__copy {

  }
}

/// Navigation ///

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  &__logo {
    width: 100px;
  }
  &__nav {
    list-style-type: none;
    display: flex;
  }
  &__item {
    padding: 15px;
  }
  &__link {
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.strbs-magazine {
  position: relative;
  height: 500px;
}

.iconstrbs1 {
  width: 253px;
  height: 257px;
  background-color: rgba(112, 112, 112, 0.3);
  border-radius: 50px;
  transform: rotate(45deg);
  opacity: 0.9;
  position: absolute;
  top: -75px;
  left: -10px;
}

.iconstrbs2 {
  width: 355px;
  height: 359px;
  left: 200px;
  bottom: 60px;
  background: url(../images/sliderbg2.jpeg) no-repeat center center;
  background-size: cover;
  position: absolute;
  transform: rotate(45deg);
  border-radius: 50px;
}

.owl-next {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: $color-grey-dark !important;
  position: absolute;
  right: -210px;
  bottom: 50px;
  span {
    font-size: 24px;
  }
  @media (min-width:1800px) {
    right: -360px;
    bottom: 50px;
    span {
      font-size: 24px;
    }
  }
}

.owl-prev {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: $color-grey-dark !important;
  position: absolute;
  right: -150px;
  bottom: 50px;
  span {
    font-size: 24px;
  }
  @media (min-width:1800px) {
    right: -300px;
    bottom: 50px;
    span {
      font-size: 24px;
    }
  }
}