{% extends 'accounts/base.html' %}

{% load crispy_forms_tags %}

{% block wrapper %}
    <div class="strbs-login-container">
        <div class="strbs-login-wrapper">
            <div class="strbs-login">
                <h5>Login to Your Account</h5>
                <div class="strbs-login__form">
                    <form action="" method="post">
                    {% csrf_token %}
                        {{ registration_form|crispy }}
                     <button type="submit" class="strbs-btn strbs-btn-primary">Sign Up</button>
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
