{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block wrapper %}
    <section class="section">
        <div class="container">
            <div class="strbs-settings-menu">
                <ul class="strbs-settings-menu__nav">
                    <li class="strbs-settings-menu__item">
                        <a href="{% url 'accounts:profile' %}" class="strbs-settings-menu__link">Profile
                        </a>
                    </li>
                    <li class="strbs-settings-menu__item">
                        <a href="{% url 'accounts:social' %}" class="strbs-settings-menu__link">Social Media
                        </a>
                    </li>
                    <li class="strbs-settings-menu__item">
                        <a href="" class="strbs-settings-menu__link">Password Confirm
                        </a>
                    </li>
                    <li class="strbs-settings-menu__item">
                        <a href="" class="strbs-settings-menu__link">Security
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form|crispy }}
                        </div>
                        <button class="btn btn-success" type="submit">Update</button>
                    </form>

                </div>
            </div>
        </div>
    </section>
    <section class="section"></section>
{% endblock %}