/// Sitorbis Detail Content ///

.strbs-post-detail {
  display: flex;
  flex-direction: column;


  &__image {

  }

  &__title {
    font-size: 1.3em;
    text-align: center;
    font-weight: 400;
  }

  &__category {
    text-align: center;
  }

  &__category-link {
    font-size: .8em;
    color: $color-grey-300;
    &:hover {
      text-decoration: none;
    }
  }

  &__likes {
    text-align: center;
    margin: 20px 0;

  }

  &__textarea {
    font-family: $font-family-lora !important;
    color: $color-grey-200 !important;
    font-size: 16px;

  }
  @media (min-width: 1024px) {
    &__title {
      font-size: 1.7em;
    }

    &__category-link {
      font-size: 1em;
    }
    
  }

}