/// Sitorbis Detail Content ///

.strbs-post-detail {
  display: flex;
  flex-direction: column;


  &__image {
    img {
      width: 100%;
    }
  }

  &__title {
    font-size: 1.3em;
    text-align: center;
    font-weight: 400;

  }

  &__category {
    text-align: center;
  }

  &__category-link {
    font-size: .8em;
    color: $color-grey-300;
    &:hover {
      text-decoration: none;
    }
  }

  &__likes {
    text-align: center;
    margin: 20px 0;

  }

  &__textarea {
    font-family: $font-family-lora !important;
    color: $color-grey-200 !important;
    font-size: 16px;

  }
  &__source {
    font-size: .8em;
    font-family: $font-family-lora;
    font-style: italic;
    background-color: $color-white-200;
    padding: 10px 20px;
    min-width: 100%;
    overflow: hidden;
  }

  @media (min-width: 1024px) {
    &__title {
      font-size: 1.7em;
    }

    &__category-link {
      font-size: 1em;
    }
    
  }

}

/// Sitorbis Post Comment ///

.strbs-post-comment {

  &__list {
    list-style: none;
  }
  &__title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  &__wrapper {
    width: 100%;
    border: 1px solid $color-white-500;
    padding: 22px 29px 27px;
    margin-bottom: 30px;
  }
  &__thumb {

  }
  &__author-date {
    display: flex;
    flex-direction: row;

  }
  &__author {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1em;
  }

  &__date {
    margin-left: 1rem;
    font-family: $font-family-lora;
    font-style: italic;
    color: $color-green-500;
  }
  &__text {
    margin-top: 1rem;
    letter-spacing: .1em;
  }
  &__reply {
    margin-top: 80px;
  }

  &__children {
    list-style: none;
  }
  &__children-wrapper {
    border: 1px solid $color-white-500;
    padding: 22px 29px 27px;
    margin-bottom: 30px;
  }
  &__children-author-date {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
  }
  &__children-author {
    margin-right: 1rem;
  }
  &__reply-button {
    color: $color-grey-300;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: .2em;
    margin-bottom: 20px;

    &:hover {
      text-decoration: none;
      color: $color-grey-200;
    }

  }
  
  @media (min-width: 1024px) {
    &__children-wrapper{
      margin-left: 150px;
    }
    
  }
}

.collapse-reply {
  margin-top:20px;
  textarea::placeholder{
    font-size: 12px;
    font-style: italic;
  }
}