{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name=”description” content=”Sitorbis is a socio-digital platform that gather stakeholders of special interest
          tourism and enables them to interact.”/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@sitorbis"/>
    <meta name="twitter:creator" content="@sitorbis"/>
    <meta property="og:url" content="{{ post.slug }}"/>
    <meta property="og:title" content="{{ post.title }}"/>
    <meta property="og:image" content="https://www.sitorbis.com{{ post.picture.url }}"/>
    <title>Sitorbis | Tourism for non-tourists</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <script src="https://kit.fontawesome.com/a873b4d106.js" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154388359-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-154388359-1');
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white-500">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="{% static 'images/logoyesil.png' %}" alt=""></a>
        <!--Sitorbis User Profile -->
        <div class="strbs-author-control order-lg-3">
            {% if user.is_authenticated %}
                <div class="strbs-author-control__author-thumb">
                    <img src="{{ user.profile.profile_picture.url }}" alt="">
                </div>
                <div class="dropdown">
                    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.fullname }}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                    </div>
                </div>
            {% else %}
                <a class="btn btn-light" href="{% url 'accounts:loginpage' %}">Log In</a>
                <a class="btn btn-success" href="{% url 'accounts:signup' %}">Register</a>
            {% endif %}
        </div>

        <button class="navbar-toggler order-lg-2" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'blog:index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Category
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for foo in blogs %}
                            <a href="" class="dropdown-item"> {{ foo.title }}</a>
                        {% endfor %}

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Tags</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Video</a>
                </li>
            </ul>
            <!--Sitorbis Search Form-->
            <form action="" class="strbs-navbar-search">
                <input type="text" class="strbs-navbar-search__input" placeholder="Search">
                <button class="strbs-navbar-search__button">
                    <svg class="strbs-navbar-search__icon" xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <image xlink:href="{% static 'images/icons/search.svg' %}"></image>
                    </svg>
                </button>
            </form>
        </div>

    </div>
</nav>
{% block wrapper %}

{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="{% static 'js/instafeed.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script>
    $(document).ready(function (event) {
        $(document).on('click', '#like', function (event) {
            event.preventDefault();
            var pk = $(this).attr('value');
            $.ajax({
                type: 'POST',
                url: '{% url "blog:like_post" %}',
                data: {'id': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: 'json',
                success: function (response) {
                    $('#like-section').html(response['form'])
                    console.log($('#like-section').html(response['form']));

                },
                error: function (rs, e) {
                    console.log(rs.responseText);

                },
            });

        });

    });

</script>

</body>
</html>