{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block wrapper %}
    <section class="section">
        <div class="container">
            <div class="row strbs-gutter">
                <div class="col col-xl-9 col-lg-9 col-md-12 ">
                    <div class="strbs-post-detail">
                        <div class="strbs-post-detail__image">
                            <img src="{{ post.picture.url }}" alt="" class="img-fluid">
                        </div>
                        <h3 class="strbs-post-detail__title">
                            {{ post.title }}
                        </h3>
                        <div class="strbs-post-detail__category">
                            <a href="{% url 'blog:category' post.category.slug %}"
                               class="strbs-post-detail__category-link">{{ post.category.title }}</a>
                        </div>
                        <div class="strbs-post-detail__likes" id="like-section">
                            {% include 'blog/like_section.html' %}
                        </div>
                        <div class="strbs-post-detail__textarea">
                            {{ post.text|safe }}
                        </div>

                    </div>
                    <div class="strbs-post-comment">
                        <h3 class="strbs-post-comment__title">Comments :</h3>
                        <ol class="strbs-post-comment__list">
                            {% for foo in comments %}
                                <li>
                                    <div class="strbs-post-comment__wrapper">
                                        <div class="row">
                                            <div class="col-2">
                                                <div class="strbs-post-comment__thumb">
                                                    <img src="{{ foo.user.profile.profile_picture.url }}" alt=""
                                                         class="img-fluid">
                                                </div>
                                            </div>
                                            <div class="col-10">
                                                <div class="strbs-post-comment__author-date">
                                                    <div class="strbs-post-comment__author">
                                                        {{ foo.user.fullname }}
                                                    </div>
                                                    <div class="strbs-post-comment__date">
                                                        {{ foo.timestamp| date }}
                                                    </div>
                                                </div>
                                                <div class="strbs-post-comment__text">
                                                    <p>{{ foo.content }}</p>
                                                </div>
                                                <div class="strbs-post-comment__reply">
                                                    <a class="btn btn-primary" data-toggle="collapse"
                                                       href="#collapseExample"
                                                       role="button" aria-expanded="false"
                                                       aria-controls="collapseExample">
                                                        Reply
                                                    </a>
                                                    <div class="collapse" id="collapseExample">
                                                        <form method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="comment_id" value="{{ foo.id }}">
                                                            {{ comment_form|crispy }}
                                                            <input type="submit" value="Submit"
                                                                   class="btn btn-outline-success">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <ol class="strbs-post-comment__children">
                                            {% for reply in foo.replies.all %}
                                                <li>
                                                    <div class="strbs-post-comment__children-wrapper">
                                                        <div class="strbs-post-comment__children-author-date">
                                                            <div class="strbs-post-comment__children-author">
                                                                {{ reply.user.fullname }}
                                                            </div>
                                                            <div class="strbs-post-comment__children-date">
                                                                {{ reply.timestamp|date }}
                                                            </div>
                                                        </div>
                                                        <div class="strbs-post-comment__children-text">
                                                            {{ reply.content }}
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                    </ol>
                                </li>
                            {% endfor %}
                        </ol>

                        {% if request.user.is_authenticated %}
                            <form method="post">
                                {% csrf_token %}
                                {{ comment_form|crispy }}
                                <input type="submit" value="Submit" class="btn btn-outline-success">
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class="col col-xl-3 col-lg-3">
                    <div class="">
                        <div class="strbs-detail-sidebar__profile">
                            <div class="strbs-detail-sidebar__profile-image"
                                 style="background-image: url({{ post.author.profile.profile_picture.url }});">

                            </div>
                            <div class="strbs-detail-sidebar__profile-nickname">
                                <a href="#">{{ post.author.fullname }}</a>
                            </div>
                        </div>
                        <div class="strbs-instagram">
                            <div class="strbs-instagram__heading">
                                <span class="strbs-instagram__before"></span>
                                <h6 class="strbs-instagram__widget">instagram</h6>
                            </div>
                            <div class="strbs-instagram-list">
                                <div id="instafeed-gallery"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="section-2"></div>

{% endblock %}

