{% extends 'blog/base.html' %}
{% load static %}
{% block wrapper %}
    <section class="section">
        <div class="strbs-detail-container">
            <div class="strbs-detail-content">
                <div class="strbs-detail-content__image">
                    <img src="{{ post.picture.url }}" alt="">
                </div>
                <h3 class="strbs-detail-content__headline">
                    {{ post.title }}
                </h3>
                <div class="strbs-detail-content__category">
                    <a href="">Beer Tourism</a>
                </div>
                <div class="strbs-detail-content__post-text">
                    <p>{{ post.text|safe }}</p>
                </div>
            </div>
            <div class="strbs-detail-sidebar">
                <div class="strbs-detail-sidebar__profile">
                    <div class="strbs-detail-sidebar__profile-image">
                        <img src="{{ post.author.profile.profile_picture.url }}" alt="">
                    </div>
                    <div class="strbs-detail-sidebar__profile-nickname">
                        <a href="#">{{ post.author.fullname }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

