{% extends 'blog/base.html' %}

{% block wrapper %}
    <section class="section">
        <div class="container">
            <div class="row no-gutters">
                <div class="strbs-card d-flex justify-content-between">
                    <div class="card mb-6" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="..." class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text">
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-6" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="..." class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text">
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="strbs-card-content d-flex">
                <article class="strbs-article">
                    {% for foo in cat %}
                        {% for category in foo.post_set.all %}

                            <div class="strbs-card-article">
                                <div class="strbs-card-article__image"
                                     style="background-image: url({{ category.picture.url }});"></div>
                                <div class="strbs-card-article__title">
                                    <h3>{{ category.title }}</h3>
                                </div>
                                <div class="strbs-card-article__description">
                                    <a href="">
                                        {{ category.text|safe|truncatechars:400 }}
                                    </a>
                                </div>
                                <div class="strbs-card-article__detail">
                                    <span>{{ category.author.fullname }}</span>
                                    <div><a href="">Read More</a></div>
                                    <span>{{ category.dated_posted|date:'F d, Y' }}</span>
                                </div>

                            </div>

                        {% endfor %}
                    {% endfor %}
                </article>
                <aside>
                    asasas
                </aside>
            </div>
        </div>
    </section>

{% endblock %}