{% load crispy_forms_tags %}
<ol class="strbs-post-comment__list">
    {% for foo in comments %}
        <li>
            <div class="strbs-post-comment__wrapper">
                <div class="row">
                    <div class="col-2">
                        <div class="strbs-post-comment__thumb">
                            <img src="{{ foo.user.profile.profile_picture.url }}" alt=""
                                 class="img-fluid">
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="strbs-post-comment__author-date">
                            <div class="strbs-post-comment__author">
                                {{ foo.user.fullname }}
                            </div>
                            <div class="strbs-post-comment__date">
                                {{ foo.timestamp| date }}
                            </div>
                        </div>
                        <div class="strbs-post-comment__text">
                            <p>{{ foo.content }}</p>
                        </div>
                        <div class="strbs-post-comment__reply">
                            <a class="strbs-post-comment__reply-button" data-toggle="collapse"
                               href="#collapseExample{{ foo.id }}"
                               role="button" aria-expanded="false"
                               aria-controls="collapseExample">
                                Reply...
                            </a>
                            <div class="collapse collapse-reply" id="collapseExample{{ foo.id }}">
                                <form method="post" class="reply-form" action=".">
                                    {% csrf_token %}
                                    <input type="hidden" name="comment_id" value="{{ foo.id }}">
                                    {{ comment_form|crispy }}
                                    <input type="submit" value="Submit"
                                           class="btn btn-outline-success">
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <ol class="strbs-post-comment__children">
                {% for reply in foo.replies.all %}
                    <li>
                        <div class="strbs-post-comment__children-wrapper">
                            <div class="strbs-post-comment__children-author-date">
                                <div class="strbs-post-comment__children-author">
                                    {{ reply.user.fullname }}
                                </div>
                                <div class="strbs-post-comment__children-date">
                                    {{ reply.timestamp|date }}
                                </div>
                            </div>
                            <div class="strbs-post-comment__children-text">
                                {{ reply.content }}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ol>
        </li>
    {% endfor %}
</ol>

{% if request.user.is_authenticated %}
    <form method="post" class="comment-form" action=".">
        {% csrf_token %}
        {{ comment_form|crispy}}
        <input type="submit" value="Submit" class="btn btn-outline-success">
    </form>
    {% else %}
    <p>Please <a href="{% url 'accounts:loginpage' %}">login</a> to comment</p>
{% endif %}