{% extends 'include.html' %}

{% load staticfiles %}
{% block wrapper %}

<section class="section">
            <div class="container">
                <div class="strbs-slider">
                    <div class="strbs-slider__item">
                        <a href="#"><img src="{% static 'images/news/tom.jpg' %}" alt=""></a>
                        <div class="strbs-slider__overlay">
                            <div class="strbs-slider__category">
                                <a href="" rel="category tag">Adventure Tourism</a>
                            </div>
                            <h2><a href="">Lorem ipsum is placeholder</a></h2>
                            <div class="strbs-slider__datetime">
                                <span>October 2, 2019</span>
                            </div>
                        </div>
                    </div>
                    <div class="strbs-slider__item">
                        <img src="{% static 'images/news/az0.png' %}" alt="">
                        <div class="strbs-slider__overlay">
                            <div class="strbs-slider__category">
                                <a href="" rel="category tag">Adventure Tourism</a>
                            </div>
                            <h2><a href="">Lorem ipsum is placeholder</a></h2>
                            <div class="strbs-slider__datetime">
                                <span>October 2, 2019</span>
                            </div>
                        </div>
                    </div>
                    <div class="strbs-slider__item">
                        <img src="{% static 'images/news/common-kingfisher.png' %}" alt="">
                        <div class="strbs-slider__overlay">
                            <div class="strbs-slider__category">
                                <a href="" rel="category tag">Adventure Tourism</a>
                            </div>
                            <h2><a href="">Lorem ipsum is placeholder</a></h2>
                            <div class="strbs-slider__datetime">
                                <span>October 2, 2019</span>
                            </div>
                        </div>
                    </div>
                    <div class="strbs-slider__item">
                        <img src="{% static 'images/news/flamingo-park.png' %}" alt="">
                        <div class="strbs-slider__overlay">
                            <div class="strbs-slider__category">
                                <a href="" rel="category tag">Adventure Tourism</a>
                            </div>
                            <h2><a href="">Lorem ipsum is placeholder</a></h2>
                            <div class="strbs-slider__datetime">
                                <span>October 2, 2019</span>
                            </div>
                        </div>
                    </div>
                    <div class="strbs-slider__item">
                        <img src="{% static 'images/news/lindis-pass.png' %}" alt="">
                        <div class="strbs-slider__overlay">
                            <div class="strbs-slider__category">
                                <a href="" rel="category tag">Adventure Tourism</a>
                            </div>
                            <h2><a href="">Lorem ipsum is placeholder</a> </h2>
                            <div class="strbs-slider__datetime">
                                <span>October 2, 2019</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="container">
                <div class="strbs-row">
                    <div class="strbs-slider">
                        <div class="strbs-slider_featured">
                            <img src="images/news/tom.jpg" alt="" class="strbs-image-responsive">
                            <div class="strbs-slider__post">

                            </div>

                        </div>
                    </div>
                    <div class="strbs-headline">
                        <div class="strbs-headline__cuff">
                            <img src="images/news/aucstp.jpg" alt="" class="strbs-image-responsive">
                        </div>
                        <div class="strbs-headline__cuff">
                            <img src="http://streetwill.co/uploads/post/photo/882/show_7PqB0AtB6wvrQnLcniTp7zluFcgtbO3vET3LQ73Wr8w.jpg"
                                alt="" class="strbs-image-responsive">
                        </div>
                    </div>
                </div>

            </div>-->
        </section>
        <section class="section">
            <div class="container">
                <div class="strbs-content">
                    <div class="strbs-card">
                        {% for news in news_list %}
                            <div class="strbs-card__post">
                            <div class="strbs-card__post-image">
                                <img src="{{ news.picture.url }}" alt="">
                            </div>

                            <div class="strbs-card__post-content">
                                {% for category in news.categories.all %}
                                    <div class="strbs-card__post-category">
                                        <a href="">{{ category.title }}</a>
                                    </div>
                                {% endfor %}
                                <div class="strbs-card__post-title">
                                    <h4><a href="#">{{ news.title }}</a></h4>
                                </div>
                                <div class="strbs-card__post-text">
                                    <p>{{ news.overview }}</p>
                                </div>
                                <div class="strbs-card__post-meta">
                                    <span><i class="far fa-user"></i>{{ news.author }}</span>
                                    <span><i class="far fa-clock"></i>{{ news.timestamp }}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                        <div class="strbs-card__post">
                            <div class="strbs-card__post-image">
                                <img src="images/news/mirror-lake.jpg" alt="" width="300px">
                            </div>
                            <div class="strbs-card__post-content">
                                <div class="strbs-card__post-category">
                                    <a href="#">General</a>
                                </div>
                                <div class="strbs-card__post-title">
                                    <h4><a href="">Lorem ipsum is placeholder text commonly used in</a></h4>
                                </div>
                                <div class="strbs-card__post-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco</p>
                                </div>
                                <div class="strbs-card__post-meta">
                                    <span><i class="far fa-user"></i>Serhat Kayakuş</span>
                                    <span><i class="far fa-clock"></i>29 July, 2020</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="strbs-sidebar">
                        <div class="strbs-sidebar__populer">
                            <h4>Populer News</h4>
                            <div class="strbs-sidebar__content">
                                <h5><a href="#">Ui Engineering is About to Go “Viral” with Its Content</a>
                                </h5>
                                <div class="strbs-sidebar__image">
                                    <img src="images/news/golden.jpg" alt="">
                                </div>
                            </div>
                            <div class="strbs-sidebar__content">
                                <h5><a href="#">What You Didn’t Know about Branding: 5 Easy Hacks</a>
                                </h5>
                                <div class="strbs-sidebar__image">
                                    <img src="images/news/mnml.jpg" alt="">
                                </div>
                            </div>
                            <div class="strbs-sidebar__content">
                                <h5><a href="#">What You Didn’t Know about Branding: 5 Easy Hacks</a>
                                </h5>
                                <div class="strbs-sidebar__image">
                                    <img src="images/news/mnml.jpg" alt="">
                                </div>
                            </div>

                        </div>

                        <div class="strbs-sidebar__newsletter">
                            <img src="images/rocketnewsletter.png" alt="">
                            <h4>Newsletter Subscribe</h4>
                            <h6>Get the Latest Posts & Articles in Your Email</h6>
                            <div class="strbs-sidebar__form">
                                <input type="email" class="form-control" placeholder="Enter Your Email Address">
                                <button class="btn btn-green">Subscribe <i class="far fa-paper-plane"></i></button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <div class="footer">
                    <img src="{% static 'images/sitorbislogo-3.png' %}" alt="">
                    <div class="footer-social">
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter-square"></i>
                        <i class="fab fa-youtube"></i>
                    </div>

                </div>
            </div>
        </footer>
{% endblock %}

