{% extends 'include.html' %}

{% load staticfiles %}
{% block wrapper %}

<section class="section">
            <div class="container">
                <div class="strbs-slider">
                    {% for slider in slider_list %}
                        <div class="strbs-slider__item">
                        <a href="#"><img src="{{ slider.picture.url }}" alt=""></a>
                        <div class="strbs-slider__overlay">
                            <div class="strbs-slider__category">
                                <a href="" rel="category tag">Adventure Tourism</a>
                            </div>
                            <h2><a href="">{{ slider.title | truncatechars:20 }}</a></h2>
                            <div class="strbs-slider__datetime">
                                <span>October 2, 2019</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!--<div class="container">
                <div class="strbs-row">
                    <div class="strbs-slider">
                        <div class="strbs-slider_featured">
                            <img src="images/news/tom.jpg" alt="" class="strbs-image-responsive">
                            <div class="strbs-slider__post">

                            </div>

                        </div>
                    </div>
                    <div class="strbs-headline">
                        <div class="strbs-headline__cuff">
                            <img src="images/news/aucstp.jpg" alt="" class="strbs-image-responsive">
                        </div>
                        <div class="strbs-headline__cuff">
                            <img src="http://streetwill.co/uploads/post/photo/882/show_7PqB0AtB6wvrQnLcniTp7zluFcgtbO3vET3LQ73Wr8w.jpg"
                                alt="" class="strbs-image-responsive">
                        </div>
                    </div>
                </div>

            </div>-->
        </section>
        <section class="section">
            <div class="container">
                <div class="strbs-content">
                    <div class="strbs-card">
                        {% for news in news_list %}
                            <div class="strbs-card__post">
                            <div class="strbs-card__post-image">
                                <img src="{{ news.picture.url }}" alt="">
                            </div>

                            <div class="strbs-card__post-content">
                                {% for category in news.categories.all %}
                                    <div class="strbs-card__post-category">
                                        <a href="{% url 'news:catdetail' category.slug %} ">{{ category.title }}</a>
                                    </div>
                                {% endfor %}
                                <div class="strbs-card__post-title">
                                    <h4><a href="{% url 'news:detail' news.slug %}">{{ news.title }}</a></h4>
                                </div>
                                <div class="strbs-card__post-text">
                                    <p>{{ news.body | truncatechars:200 |safe}}</p>
                                </div>
                                <div class="strbs-card__post-meta">
                                    <span><i class="far fa-user"></i>{{ news.author }}</span>
                                    <span><i class="far fa-clock"></i>{{ news.timestamp }}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="strbs-sidebar">
                        <div class="strbs-sidebar__populer">
                            <h4>Populer News</h4>
                            <div class="strbs-sidebar__content">
                                <h5><a href="#">Ui Engineering is About to Go “Viral” with Its Content</a>
                                </h5>
                                <div class="strbs-sidebar__image">
                                    <img src="images/news/golden.jpg" alt="">
                                </div>
                            </div>
                            <div class="strbs-sidebar__content">
                                <h5><a href="#">What You Didn’t Know about Branding: 5 Easy Hacks</a>
                                </h5>
                                <div class="strbs-sidebar__image">
                                    <img src="images/news/mnml.jpg" alt="">
                                </div>
                            </div>
                            <div class="strbs-sidebar__content">
                                <h5><a href="#">What You Didn’t Know about Branding: 5 Easy Hacks</a>
                                </h5>
                                <div class="strbs-sidebar__image">
                                    <img src="images/news/mnml.jpg" alt="">
                                </div>
                            </div>

                        </div>

                        <div class="strbs-sidebar__newsletter">
                            <img src="{% static 'images/rocketnewsletter.png' %}" alt="">
                            <h4>Newsletter Subscribe</h4>
                            <h6>Get the Latest Posts & Articles in Your Email</h6>
                            <div class="strbs-sidebar__form">
                                <input type="email" class="form-control" placeholder="Enter Your Email Address">
                                <button class="btn btn-green">Subscribe <i class="far fa-paper-plane"></i></button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}

