<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/glide.core.css' %}">
    <link rel="stylesheet" href="{% static 'css/glide.theme.css' %}">
    <script src="https://kit.fontawesome.com/a873b4d106.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
</head>
<body>
    <div class="strbs-wrapper">
        <header>
            <div class="container">
                <div class="strbs-menu">
                    <nav>
                        <ul>
                            <li class="active-menu"><a href="">Home</a></li>
                            <li><a href="">Category</a></li>
                            <li><a href="{% url 'news:page' %}">News</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="strbs-social-media">
                    <ul>
                        <li><a href="#">
                                <svg class="icon-media">
                                    <use xlink:href="{% static 'images/sprite.svg#icon-instagram' %}"></use>
                                </svg>
                            </a></li>
                        <li><a href="#">
                                <svg class="icon-media">
                                    <use xlink:href="images/sprite.svg#icon-twitter"></use>
                                </svg>
                            </a></li>
                        <li><a href="#">
                                <svg class="icon-media">
                                    <use xlink:href="images/sprite.svg#icon-facebook2"></use>
                                </svg>
                            </a></li>
                        <li><a href="#">
                                <svg class="icon-media">
                                    <use xlink:href="images/sprite.svg#icon-youtube"></use>
                                </svg>
                            </a></li>
                    </ul>
                    <div class="search">
                        <svg class="search__icon">
                            <use xlink:href="images/sprite.svg#icon-search"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </header>
        
        {% block wrapper %}
        
        {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 5,
                    nav: true,
                    loop: false
                }
            }
        })
    </script>
</body>
</html>