<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sitorbis | Tourism for non-tourists</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <script src="https://kit.fontawesome.com/a873b4d106.js" crossorigin="anonymous"></script>
</head>
<body>
        {% block wrapper %}
        
        {% endblock %}

        <footer class="footer mrgn-top150">
            <div class="strbs-container">
                <div class="strbs-footer">
                    <div class="strbs-footer__logo">
                        <img src="{% static 'images/Sitorbisyesil.png' %}" alt="">
                    </div>
                    <div class="strbs-footer__info">
                        <div class="strbs-footer__social">
                            <ul>
                                <li>
                                    <a href="https://www.twitter.com/sitorbis"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/sitorbis"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/sitorbiscom"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="strbs-footer__headline">
                            <p>Sitorbis is a start-up project developed within the Minerva Incubation Center in Yasar
                                University.</p>
                            <h3>“Tourism for non-tourists” </h3>
                        </div>
                        <div class="strbs-footer__copy">
                            © Sitorbis - All Rights Reserved 2020
                        </div>
                    </div>
                </div>
            </div>
        </footer>


    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: false,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                },
                1800: {
                    items: 4
                }
            }
        })
    </script>
</body>
</html>