{% extends 'include.html' %}
{% load static %}

    {% block wrapper %}
        <div id="wrapper">
        <header class="header">
            <div class="strbs-container">
                <!--Navigation-->
                <nav class="navbar">
                    <a href=""><img class="navbar__logo" src="{% static 'images/Sitorbisyesil.png' %}" alt=""></a>
                    <ul class="navbar__nav">
                        <li class="navbar__item"><a href="" class="navbar__link">Home</a></li>
                        <li class="navbar__item"><a href="" class="navbar__link">News</a></li>
                    </ul>
                </nav>
                <!--/Navigation/-->

                <div class="header__headline">
                    <div class="header__text-box">
                        <h2>Ecosystem of Special Interest Tourism</h2>
                        <span class="header__line"></span>
                        <p>Sitorbis is a socio-digital platform that gather stakeholders of special interest tourism and
                            enables
                            them to interact.</p>
                        <span class="header__italic">“Tourism for non-tourists”</span>
                        <button class="btn btn-transperant">Write To Us</button>
                    </div>
                </div>
            </div>
            <div class="header__slider"></div>
        </header>

        <section class="strbs-magazine">
            <div class="strbs-container">
                <div class="iconstrbs1"></div>
                <div class="iconstrbs2"></div>
            </div>
        </section>
    {% endblock %}
