{% extends 'include.html' %}
{% load static %}

    {% block wrapper %}
        <div id="wrapper">
        <header class="header">
            <div class="strbs-container">
                <!--Navigation-->
                <nav class="navbar">
                    <a href=""><img class="navbar__logo" src="{% static 'images/Sitorbisyesil.png' %}" alt=""></a>
                    <ul class="navbar__nav">
                        <li class="navbar__item"><a href="" class="navbar__link">Home</a></li>
                        <li class="navbar__item"><a href="" class="navbar__link">News</a></li>
                    </ul>
                </nav>
                <!--/Navigation/-->

                <div class="header__headline">
                    <div class="header__text-box">
                        <h2>Ecosystem of Special Interest Tourism</h2>
                        <span class="header__line"></span>
                        <p>Sitorbis is a socio-digital platform that gather stakeholders of special interest tourism and
                            enables
                            them to interact.</p>
                        <span class="header__italic">“Tourism for non-tourists”</span>
                        <button class="btn btn-transperant">Write To Us</button>
                    </div>
                </div>
            </div>
            <div class="header__slider"></div>
        </header>

        <section class="strbs-magazine">
            <div class="strbs-container">
                <div class="iconstrbs1"></div>
                <div class="iconstrbs2"></div>
            </div>
        </section>
        <section class="strbs-category">
            <div class="strbs-container-full">
                <div class="strbs-owl">
                    <div class="strbs-owl__carousel owl-carousel owl-theme">
                        {% for foo in query_list %}
                            <div class="item mrgn-top50">
                                <div class="item__strbs-carousel">
                                    <div class="item__strbs-carousel-image">
                                        <img src="{{ foo.picture.url }}" alt="">
                                    </div>
                                    <h3 class="item__strbs-carousel-title">{{ foo.title }}</h3>
                                    <p class="item__strbs-carousel-content">{{ foo.body }}</p>
                                    <div class="item__strbs-carousel-button">
                                        <button class="btn btn-transperant">SEE DETAIL</button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!--/Strbs Owl/-->
                    </div>

                </div>
            </div>
            <div class="strbs-category__title">

            </div>
            <div class="strbs-category__title2">

                <h1 style="transform: rotate(-45deg);"><img src="{% static 'images/xd/line.png' %}" alt="">SIT Categories</h1>
            </div>
        </section>

        </div>
    {% endblock %}
