@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700&display=swap&subset=latin-ext");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/*
* Colors
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

/*
**** Section
*/
.section {
  margin-top: 50px;
}

.section-2 {
  margin-top: 100px;
}

.bg-white-500 {
  background-color: #F7F2EE;
}

.btn {
  font-size: 14px;
}

.navbar-brand img {
  width: 34px;
}

.nav-link {
  text-transform: uppercase;
}

.strbs-navbar-search {
  display: none;
}
@media (min-width: 1440px) {
  .strbs-navbar-search {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .strbs-navbar-search__input {
    background-color: #f2f2f2;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    width: 90%;
    border-radius: 50px;
    padding: 0.7rem 2rem;
    transition: all 0.2s;
    margin-right: -3.2rem;
  }
  .strbs-navbar-search__input:focus {
    width: 100%;
    outline: none;
  }
  .strbs-navbar-search__input::-webkit-input-placeholder {
    font-size: 14px;
  }
  .strbs-navbar-search__button {
    border: none;
    background-color: #f2f2f2;
  }
  .strbs-navbar-search__button:focus {
    outline: none;
  }
  .strbs-navbar-search__button:active {
    transform: translateY(2px);
  }
  .strbs-navbar-search__icon {
    width: 26px;
    height: 26px;
  }
}

.strbs-btn {
  display: inline-block;
  text-align: center;
}

.strbs-btn-primary {
  color: #fff;
  background-color: #3A8F3D;
  border-color: #3A8F3D;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 100%;
  padding: 0.8rem 6rem;
}

.strbs-navbar-btn {
  color: #303030;
  text-decoration: none;
  padding: 0.7rem 1rem;
  border: 1px solid #3A8F3D;
  border-radius: 20px;
}

.strbs-navbar-btn-register {
  color: #f2f2f2;
  text-decoration: none;
  padding: 0.7rem 1rem;
  background-color: #3A8F3D;
  border-radius: 20px;
}

.strbs-article {
  margin-bottom: 100px;
  overflow: hidden;
}
.strbs-article__title {
  font-size: 1em;
  text-align: center;
  padding: 1rem 0;
}
.strbs-article__category {
  text-align: center;
  padding: 0 0 1rem 0;
}
.strbs-article__category a {
  color: #303030;
  font-size: 0.8em;
}
.strbs-article__category a:hover {
  text-decoration: none;
  color: #303030;
}
.strbs-article__post-content {
  text-align: center;
  padding: 0 0 1rem 0;
}
.strbs-article__post-content a {
  color: #303030;
  font-family: "Lora", serif;
  text-decoration: none;
  font-size: 1em;
  line-height: 1.7;
}
.strbs-article__author-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #F7F2EE;
  border-bottom: 1px solid #F7F2EE;
  padding: 1rem 0;
}
.strbs-article__author {
  color: #303030;
  font-size: 0.8em;
}
.strbs-article__author:hover {
  text-decoration: none;
}
.strbs-article__readmore {
  font-size: 0.8em;
  color: #303030;
  font-weight: 600;
}
.strbs-article__readmore:hover {
  text-decoration: none;
}
.strbs-article__date {
  color: #303030;
  font-size: 0.8em;
}
.strbs-article__date:hover {
  text-decoration: none;
}
@media (min-width: 768px) {
  .strbs-article {
    font-size: 1.5em;
  }
  .strbs-article__category a {
    font-size: 0.6em;
  }
  .strbs-article__post-content a {
    font-size: 0.8em;
  }
  .strbs-article__author {
    font-size: 0.6em;
  }
  .strbs-article__readmore {
    font-size: 0.8em;
    color: #303030;
  }
  .strbs-article__date {
    font-size: 0.6em;
  }
}

.strbs-owl-cards {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #F7F2EE;
}
.strbs-owl-cards__image {
  width: 100%;
  height: 370px;
  background-size: cover;
  background-position: top 10% right 40%;
}
.strbs-owl-cards__category {
  font-size: 10px;
  margin: 0 !important;
  color: #303030;
  text-decoration: none;
  padding: 1rem;
  text-transform: uppercase;
}
.strbs-owl-cards__title {
  font-size: 14px;
  font-weight: 300;
  padding: 0 1.5rem;
}
.strbs-owl-cards__title a {
  color: #303030;
  text-decoration: none;
}
.strbs-owl-cards__user-detail {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.strbs-owl-cards__user-name {
  font-size: 10px;
  text-decoration: none;
  color: #303030;
}
.strbs-owl-cards__last-date {
  font-size: 10px;
  text-decoration: none;
  color: #303030;
}

.owl-prev {
  position: absolute;
  width: 47px;
  height: 34px;
  top: 200px;
  background-color: #f2f2f2 !important;
}

.owl-next {
  position: absolute;
  width: 47px;
  height: 34px;
  top: 200px;
  background-color: #f2f2f2 !important;
  right: 0;
}

.strbs-card {
  width: 100%;
}
.strbs-card-content {
  flex-direction: column;
}
@media (min-width: 1440px) {
  .strbs-card-content {
    flex-direction: row;
  }
}

.strbs-card-article {
  margin-bottom: 50px;
}
.strbs-card-article__image {
  width: 100%;
  background-size: cover;
  height: 447px;
  overflow: hidden;
  background-position: 10% 60%;
  background-repeat: no-repeat;
}
.strbs-card-article__title {
  text-align: center;
  font-size: 22px;
  font-weight: 300;
}
.strbs-card-article__description {
  text-align: center;
  font-family: "Lora", serif;
}
.strbs-card-article__description a {
  color: #303030;
  text-decoration: none;
  font-size: 16px;
}
.strbs-card-article__detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #F7F2EE;
  border-top: 1px solid #F7F2EE;
  padding: 15px 0;
}
aside {
  width: 100%;
}
@media (min-width: 1440px) {
  aside {
    width: 25%;
    margin-left: 15px;
  }
}

.strbs-instagram-list {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  clear: both;
  width: 100%;
}

.strbs-instagram-feed {
  list-style: none;
}
.strbs-instagram-feed li {
  width: 50%;
  float: left;
  position: relative;
  box-sizing: border-box;
  border: none !important;
  padding: 0 2px;
  margin: 0 0 4px;
}
.strbs-instagram-feed li a {
  position: relative;
  display: block;
  overflow: hidden;
}
.strbs-instagram-feed li a img {
  width: 100%;
  display: block;
  height: 135px;
}
.strbs-instagram-feed li a::after {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background: rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s ease-in-out;
  position: absolute;
  opacity: 1;
}

.strbs-instagram-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  z-index: 1;
  transition: opacity 0.2s ease-in-out;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: #F7F2EE;
}

.strbs-instagram-icon:hover {
  opacity: 1;
}

.strbs-flex-row {
  display: flex;
  flex-direction: row;
}

.strbs-justify-between {
  justify-content: space-between;
}

.strbs-justify-around {
  justify-content: space-around;
}

.strbs-align-items {
  align-items: center;
}

.strbs-detail-content {
  width: 100%;
}
.strbs-detail-content__image {
  margin-bottom: 50px;
}
.strbs-detail-content__image img {
  width: 100%;
}
.strbs-detail-content__headline {
  text-align: center;
  font-size: 26px;
  font-weight: 300;
  padding-bottom: 10px;
  line-height: 1.5;
  margin: 0;
}
.strbs-detail-content__category {
  text-align: center;
  font-weight: 300;
}
.strbs-detail-content__category a {
  color: #303030;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 10px;
  line-height: 1.5em;
  text-decoration: none;
}
.strbs-detail-content__post-text p {
  font-size: 16px;
  font-family: "Lora", serif;
  font-weight: 400;
  color: #565050;
  line-height: 1.7em;
  padding-bottom: 1rem;
}
@media (min-width: 1440px) {
  .strbs-detail-content {
    width: 75%;
    margin-right: 25px;
  }
}

.strbs-detail {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .strbs-detail {
    flex-direction: row;
  }
}

.strbs-detail-sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.strbs-detail-sidebar__profile {
  margin-bottom: 50px;
}
.strbs-detail-sidebar__profile-image {
  width: 240px;
  height: 240px;
  border-radius: 100%;
  border: 1px solid #c4c4c4;
  margin: 0 auto 20px auto;
  background-size: cover;
}
.strbs-detail-sidebar__profile-image img {
  padding: 5px;
}
.strbs-detail-sidebar__profile-nickname {
  text-align: center;
}
.strbs-detail-sidebar__profile-nickname a {
  text-decoration: none;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
}
@media (min-width: 1440px) {
  .strbs-detail-sidebar {
    width: 25%;
    margin-left: 25px;
  }
}

.strbs-instagram {
  width: 100%;
}
.strbs-instagram__heading {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}
.strbs-instagram__before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #F7F2EE;
  top: 15px;
  position: absolute;
  left: 0;
}
.strbs-instagram__widget {
  display: inline-block;
  width: auto;
  margin: 0 0 3px;
  z-index: 90;
  background-color: #fff;
  padding: 0 12px;
  position: relative;
  font-weight: 400;
  letter-spacing: 0.3em;
  font-size: 14px;
  text-transform: uppercase;
}

.login-page {
  background-color: #303030;
  min-height: 100vh;
}

.strbs-accounts-row {
  position: relative;
  justify-content: flex-end;
  align-items: center;
}

.strbs-accounts-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .strbs-accounts-wrapper {
    flex-direction: row;
    min-height: 590px;
  }
}

.strbs-accounts-menu {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
}
.strbs-accounts-menu__register {
  border-right: 1px solid #E6EDF6;
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 0.7rem 0;
}
.strbs-accounts-menu__login {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 0.7rem 0;
}
.strbs-accounts-menu__icon {
  width: 40px;
  height: 40px;
}
@media (min-width: 1280px) {
  .strbs-accounts-menu {
    flex-direction: column;
  }
  .strbs-accounts-menu__register {
    border-right: none;
    border-bottom: 1px solid #E6EDF6;
    padding: 0 0.5rem;
    width: 100%;
    height: 50%;
    align-items: center;
  }
  .strbs-accounts-menu__login {
    padding: 0 0.5rem;
    width: 100%;
    height: 50%;
    align-items: center;
  }
}

.strbs-accounts-form {
  background-color: #fff;
  border: 1px solid #e6ecf5;
}
.strbs-accounts-form__title {
  padding: 1.5em;
  border-bottom: 1px solid #E6EDF6;
  font-size: 0.9em;
  font-weight: 600;
}
.strbs-accounts-form__content {
  padding: 1rem 0.8rem;
}
.strbs-accounts-form .form-group {
  position: relative;
  margin-bottom: 1.24rem;
}
.strbs-accounts-form input::placeholder {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.strbs-accounts-form__remember {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.strbs-accounts-form__checkbox .form-check-label {
  font-size: 0.8em;
}
.strbs-accounts-form__forgot {
  font-size: 0.8em;
  color: #303030;
}
.strbs-accounts-form__forgot:hover {
  text-decoration: none;
  color: #303030;
}
.strbs-accounts-form__or {
  position: relative;
  width: 100%;
  height: 1px;
  margin: 2.5rem 0 2rem 0;
  background-color: #e6ecf5;
}
.strbs-accounts-form__or::after {
  content: "OR";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 0 25px;
  font-size: 10px;
  z-index: 5;
}
.strbs-accounts-form__or-register {
  font-size: 0.8em;
}
.strbs-accounts-form__or-login {
  margin-top: 20px;
  font-size: 0.8em;
}
@media (min-width: 1440px) {
  .strbs-accounts-form {
    width: 80%;
  }
}

label {
  font-size: 13px !important;
  font-family: "Montserrat", sans-serif;
}

.strbs-accounts-slider {
  display: none;
}
@media (min-width: 1280px) {
  .strbs-accounts-slider {
    display: block;
  }
}

/*
  * Login Page Navigation
 */
.strbs-login-navbar {
  width: 100%;
}
.strbs-login-navbar__logo img {
  width: 100px;
}
.strbs-login-navbar__wrapper {
  display: flex;
  align-items: center;
}
.strbs-login-navbar__menu {
  list-style-type: none;
}
.strbs-login-navbar__item {
  color: #fff;
}

.strbs-wrapper-blog {
  display: flex;
  flex-direction: column;
}
.strbs-wrapper-blog__content {
  width: 100%;
  text-align: center;
}
.strbs-wrapper-blog__heading {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}
.strbs-wrapper-blog__before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #F7F2EE;
  top: 15px;
  position: absolute;
  left: 0;
}
.strbs-wrapper-blog__widget {
  display: inline-block;
  width: auto;
  margin: 0 0 3px;
  z-index: 90;
  background-color: #fff;
  padding: 0 12px;
  position: relative;
  font-weight: 400;
  letter-spacing: 0.3em;
  font-size: 14px;
  text-transform: uppercase;
}
.strbs-wrapper-blog__image {
  width: 100%;
}
.strbs-wrapper-blog__image img {
  width: 100%;
}
.strbs-wrapper-blog__title {
  font-size: 16px;
  color: #303030;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
}
.strbs-wrapper-blog__context {
  font-size: 14px;
  font-family: "Lora", serif !important;
  color: #303030;
  letter-spacing: 0.1em;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
}
.strbs-wrapper-blog__detail {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #F7F2EE;
  border-bottom: 1px solid #F7F2EE;
  margin-top: 20px;
  margin-bottom: 50px;
}
.strbs-wrapper-blog__user-name {
  font-size: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #303030;
}
.strbs-wrapper-blog__read-more {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #303030;
}
.strbs-wrapper-blog__last-date {
  font-size: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #303030;
}
@media (min-width: 1440px) {
  .strbs-wrapper-blog {
    flex-direction: row;
  }
  .strbs-wrapper-blog__content {
    width: 75%;
    text-align: center;
    margin-right: 25px;
  }
  .strbs-wrapper-blog__image {
    width: 100%;
    height: 447px;
    overflow-y: hidden;
  }
  .strbs-wrapper-blog__image img {
    width: 100%;
  }
  .strbs-wrapper-blog__title {
    font-size: 22px;
    color: #303030;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
  }
  .strbs-wrapper-blog__context {
    padding: 1.5rem 4rem;
    font-size: 14px;
    font-family: "Lora", serif !important;
    color: #303030;
    letter-spacing: 0.1em;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
  }
}

.strbs-wrapper-blog-sidebar {
  width: 100%;
}
@media (min-width: 1440px) {
  .strbs-wrapper-blog-sidebar {
    width: 25%;
    margin-left: 25px;
  }
}

.strbs-wrapper-blog-popular__picture img {
  width: 100%;
}
@media (min-width: 1440px) {
  .strbs-wrapper-blog-popular__title {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .strbs-wrapper-blog-popular__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .strbs-wrapper-blog-popular__picture {
    width: 102px;
    height: 85px;
  }
  .strbs-wrapper-blog-popular__picture img {
    width: 100%;
    height: 100%;
  }
  .strbs-wrapper-blog-popular__context h2 {
    margin: 0;
    line-height: 1.2;
    padding: 0 0.7rem;
  }
  .strbs-wrapper-blog-popular__context h2 a {
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    color: #303030;
  }
  .strbs-wrapper-blog-popular__context span {
    padding: 0.7rem;
  }
  .strbs-wrapper-blog-popular__context span a {
    text-decoration: none;
    color: #303030;
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
