/*
* Colors
*/
$color-white-200:#f2f2f2;
$color-white-500:#F7F2EE;
$color-white-300:#E6EDF6;
$color-grey-200:#565050;
$color-grey-300:#303030;
$color-green-500:#3A8F3D;

*,
*::before,
*::after {
  margin:0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: $font-family-montserrat !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

/*
**** Section
*/
.section {
  margin-top: 50px;
}

.section-2 {
  margin-top:100px;
}
.like-section {
  padding-left:10px;
}

.bg-white-500 {
  background-color: $color-white-500;
}

.btn {
  font-size: 14px;
}

.strbs-reset-done {

  padding: 2rem;

  p{
    color:#fff;
  }
}

