@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700&display=swap&subset=latin-ext');


$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-oswald: 'Oswald', sans-serif;
$font-family-lora: 'Lora', serif;





